<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}WS-Messages{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  {% block meta %}{% endblock %}
</head>
<body class="mw8 center pa2 sans-serif">
  <nav>
    <ul class="list pl0 flex">
    {% if user.is_authenticated %}
    <li class="pr2">Logged in as {{ user.username }}</li>
    <li class="pr2"><a href="{% url 'auth_logout' %}">Logout</a></li>
    {% endif %}
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
